<!DOCTYPE html>
<html>

<head>

<meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />

<title>MathSheets</title>

<link rel="stylesheet" href="[% request.uri_base %]/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/style.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>

<script src="[% request.uri_base %]/bootstrap/js/bootstrap.min.js"></script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<script type="text/javascript" src="[% request.uri_base%]/javascripts/mathsheets.js"></script>

</head>

<body
    style="background-image: url('[% request.uri_base %]/images/pleiades.jpg')">

<!--
  <div id="title">Math Sheets</div>
    <h1>Math Sheets</h1>
  -->

  <div class="container" id="page">
    <a class="pull-right" href="[% request.uri_base %]">Home</a>
    [% content %]
  </div>

</body>
</html>
