
<div id="math-sheet-page"></div>

<script type="text/babel" src="/javascripts/components/MathSheetPage.js"></script>

<script type="text/babel">
const student_id = '[% student_id %]';
const sheet_id = [% sheet_id %];
ReactDOM.render(
  <MathSheetPage student_id={student_id} sheet_id={sheet_id} />,
  document.getElementById('math-sheet-page')
);
</script>
