
<table class="table span4">

  <thead>
    <th>Student</th>
    <th>Sheet</th>
  </thead>

  [% FOR user IN users %]
  [% sheet_num = user.last_sheet + 1 %]
  <tr>
    <td>
      <a href="[% request.uri_base %]/users/[% user.id %]/sheets/[% sheet_num %]">[% user.name %]</a>
    </td>
    <td> [% sheet_num %] </td>
    <td>
      <a href="[% request.uri_base %]/users/[% user.id %]/report">view progress</a>
    </td>
  </tr>
  [% END %]

</table>

