

#page {
    /*
    width: 990px;
    border: 3px solid #aaa;
    */
    padding: 25px;
    margin: 40px auto;
    background-color: white;
}

div.problem {
    /*
    border: 3px solid #888;
    */
    margin: 20px;
    float: left;
    padding: 15px;
    background-color: #fff;
    border: 0;
    text-align: center;
}

div.eqn {
    font-size: 2em;
}

input.correct-answer {
    background-color: #afa;
}

#title {
    text-align:center;
    font-size:2em;
    font-weight:bold;
    font-family:sans;
    color: #fff;
}

