
#page {
    /*
    width: 990px;
    border: 3px solid #aaa;
    padding: 25px;
    padding-top: 25px;
    margin: 40px auto;
    padding-bottom: 20px;
    */
    margin-bottom: 40px;
    background-color: white;
    width: 80%;
    min-width: 340px;
}

div.thumbnail {
    border: none;
}

div.sheet-body {
    display: flex;
    flex-wrap: wrap;
}

div.problems {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 5;
}

@media (min-width: 500px) {
  div.problems {
    justify-content: flex-start;
  }
}

div.sheet-sidebar {
    min-width: 160px;
    flex: 1;
}

div.problem {
    /*
    border: 3px solid #888;
    */
    margin: 20px;
    padding: 15px;
    position: relative;
    background-color: #fff;
}

div.eqn {
    font-size: 2em;
    text-align: center;
}

input.guess {
    width: auto;
}

input.correct-answer {
    background-color: #afa;
}

#title {
    text-align:center;
    font-size:2em;
    font-weight:bold;
    font-family:sans;
    color: #fff;
}

.problem-targetable:hover {
    padding: 13px;
    border: 2px solid #DDD;
}

.targeting {
    cursor: url(/images/crosshair.png) 40 40, crosshair;
}

div.prev-next {
/*
    padding: 20px 20px
*/
    padding-top: 20px;
}

#students-tbl {
  width: auto;
}

#students-tbl .progress {
    width:100px;
    margin-right:20px;
}

#students-tbl .pw_col {
    display: none;
}

#students-tbl i {
    margin-left: 10px;
}

.hidden {
    display: none;
}

.spinner {
    width: 100px;
}
