
#page {
    /*
    width: 990px;
    border: 3px solid #aaa;
    padding: 25px;
    padding-top: 25px;
    margin: 40px auto;
    padding-bottom: 20px;
    */
    margin-bottom: 40px;
    background-color: white;
}

div.problem {
    /*
    border: 3px solid #888;
    */
    margin: 20px;
    float: left;
    position: relative;
    padding: 15px;
    background-color: #fff;
    height: 120px;
}

div.eqn {
    font-size: 2em;
    text-align: center;
}

input.correct-answer {
    background-color: #afa;
}

#title {
    text-align:center;
    font-size:2em;
    font-weight:bold;
    font-family:sans;
    color: #fff;
}

.problem-targetable:hover {
    padding: 13px;
    border: 2px solid #DDD;
}

div.prev-next {
/*
    padding: 20px 20px
*/
    padding-top: 20px;
}

#students_tbl .progress {
    width:100px;
    margin-right:20px;
    color: #000;
}
